@charset "UTF-8";

:root { /* Paleta de Cores */
    --verde: #49a09d;
    --verde-super-claro: #94cfcd;
    --verde-claro: #6cd3cf;
    --verde-escuro: #2d6462;
    --roxo: #5f2c82; 
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body, html {
    width: 100vw;
    height: 100vh;
    background-color: var(--roxo);
}

main {
    width: 100%;
    height: 100%;

    position: relative;
}

section#login {
    width: 250px;
    height: 515px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    overflow: hidden;

    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    background-color: white;

    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    height: 200px;

    display: block;

    background: url('../imagens/capa.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
}

section#login > div#formulario {
    padding: 10px;

    display: block;
}

div#formulario h1 {
    margin-bottom: 10px;
    text-align: center;
}

div#formulario p {
    font-size: .8em;
}

form > div.campo {
    width: 100%;
    height: 40px;

    margin: 5px 0px;

    display: block;
    border-radius: 5px;
    border: 2px solid var(--roxo);

    background-color: var(--roxo);
}

div.campo > label {
    display: none;
}

div.campo > i {
    width: 40.5px;

    padding: 5px;
    font-size: 2em;

    color: white;
}

div.campo > input {
    width: calc(100% - 44.95px);
    height: 100%;
    
    padding: 4px;
    font-size: 1em;

    border: none;
    border-radius: 5px;

    background-color: var(--verde-super-claro);
    transform: translateY(-14px);
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    width: 100%;
    height: 40px;

    display: block;

    font-size: 1em;
    cursor: pointer;

    border: none;
    border-radius: 5px;

    color: white;
    background-color: var(--verde);
}

form > input[type=submit]:hover {
    background-color: var(--verde-escuro);
}

form > a.botao {
    width: 100%;
    height: 40px;

    padding-top: 7px;
    margin-top: 5px;

    display: block;

    border: 1px solid var(--verde);
    border-radius: 5px;
    
    font-size: 1em;
    text-align: center;
    text-decoration: none;

    color: var(--verde-escuro);
    background-color: white;
}

form > a.botao:hover {
    background-color: var(--verde-claro);
}

form > a.botao > i {
    font-size: .8em;
}
